.container {
    max-width: 800px;
}

.header {
    margin-top: 18rem;
    text-align: center;
}

.value-prop {
    margin-top: 1rem;
}

.value-props {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.souspartie {
    font-size: 1.2em;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 600;
    color: rgb(71, 71, 71);
}

.b-header {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .4rem;
    font-weight: 600;
}

.b-section {
    border-top: 1px solid #eee;
    padding: 3rem 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

.value-img {
    display: block;
    text-align: center;
    margin: 2.5rem auto 0;
}

.example-grid .column,
.example-grid .columns {
    background: #EEE;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    margin-bottom: .75rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.b-example .row,
.b-example.row,
.b-example form {
    margin-bottom: 0;
}

.b-example h1,
.b-example h2,
.b-example h3,
.b-example h4,
.b-example h5,
.b-example h6 {
    margin-bottom: 1rem;
}

.heading-font-size {
    font-size: 1.2rem;
    color: #999;
    letter-spacing: normal;
}

.code-example {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.code-example-body {
    white-space: pre;
    word-wrap: break-word
}

.example {
    position: relative;
    margin-top: 4rem;
}

.example-header {
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.example-description {
    margin-bottom: 1.5rem;
}

.example-screenshot-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #eee;
    height: 250px;
}

.example-screenshot {
    width: 100%;
    height: auto;
}

.example-screenshot.coming-soon {
    width: auto;
    position: absolute;
    background: #eee;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

/* Navbar */

.navbar+.b-section {
    border-top-width: 0;
}

.navbar,
.navbar-spacer {
    display: block;
    width: 100%;
    height: 6rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.navbar-spacer {
    display: none;
}

.navbar>.container {
    width: 100%;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
    width: 25%;
    text-align: center;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: .2rem;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

.navbar-link.active {
    color: #33C3F0;
}

.has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
}

.has-docked-nav .navbar-spacer {
    display: block;
}

/* Re-overiding the width 100% declaration to match size of % based container */

.has-docked-nav .navbar>.container {
    width: 80%;
}

/*
.navbar {
  display: none; }
*/

/* Larger than phone */

@media (min-width: 550px) {
    .header {
        margin-top: 20rem;
    }

    .value-props {
        margin-top: 9rem;
        margin-bottom: 7rem;
    }

    .value-img {
        margin-bottom: 1rem;
    }

    .example-grid .column,
    .example-grid .columns {
        margin-bottom: 1.5rem;
    }

    .b-section {
        padding: 6rem 0;
    }

    .example-send-yourself-copy {
        float: right;
        margin-top: 12px;
    }

    .example-screenshot-wrapper {
        position: absolute;
        width: 48%;
        height: 100%;
        left: 0;
        max-height: none;
    }
}

/* Larger than tablet */

@media (min-width: 750px) {

    /* Navbar */
    .navbar+.b-section {
        border-top-width: 0;
    }

    .navbar,
    .navbar-spacer {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .navbar-spacer {
        display: none;
    }

    .navbar>.container {
        width: 100%;
    }

    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }

    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
    }

    .navbar-link {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
    }

    .navbar-link.active {
        color: #33C3F0;
    }

    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0;
    }

    .has-docked-nav .navbar-spacer {
        display: block;
    }

    /* Re-overiding the width 100% declaration to match size of % based container */
    .has-docked-nav .navbar>.container {
        width: 80%;
    }

    /* Popover */
    .popover.open {
        display: block;
    }

    .popover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 4px;
        top: 92%;
        left: -50%;
        -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
        -moz-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
    }

    .popover-item:first-child .popover-link:after,
    .popover-item:first-child .popover-link:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .popover-item:first-child .popover-link:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }

    .popover-item:first-child .popover-link:before {
        border-color: rgba(238, 238, 238, 0);
        border-bottom-color: #eee;
        border-width: 11px;
        margin-left: -11px;
    }

    .popover-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .popover-item {
        padding: 0;
        margin: 0;
    }

    .popover-link {
        position: relative;
        color: #222;
        display: block;
        padding: 8px 20px;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.0rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: .1rem;
    }

    .popover-item:first-child .popover-link {
        border-radius: 4px 4px 0 0;
    }

    .popover-item:last-child .popover-link {
        border-radius: 0 0 4px 4px;
        border-bottom-width: 0;
    }

    .popover-link:hover {
        color: #fff;
        background: #33C3F0;
    }

    .popover-link:hover,
    .popover-item:first-child .popover-link:hover:after {
        border-bottom-color: #33C3F0;
    }
}

.b-text {
    padding: 5px;
    text-align: left;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.text-card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 14px 30px 10px 30px;
}

.card-1:hover,
.text-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.10), 0 3px 3px rgba(0, 0, 0, 0.20);
}

.spacing {
    padding: 10px;
    margin: 0px;
    padding-left: 5%;
}

.hover-zoom {}

.hover-zoom:hover {
    transform: scale(1.05);
}

/* ---- reset ---- 
canvas {
  display: block;
  vertical-align: bottom;
}
 */

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0
}

.shy {
    color: black;
    opacity: 0.6;
    font-weight: 400;
    text-decoration: none !important;
}

.expCard {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 7%;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.expCard:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.10), 0 3px 3px rgba(0, 0, 0, 0.20);
}

.card-logo {
    width: 40%;
    margin-bottom: 5px;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 95%;
    margin: 0.5em 0;
    line-height: 1.45;
    position: relative;
    color: #383838;
    border-left: 3px solid #ccc;
    padding-left: 0.5em;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 3em;
    line-height: 0.3em;
    margin-right: 0.2em;
}

.panneauSlider {
    width: 250px;
    padding: 5px 10px;
}

.sexybtn {
    padding: 10px;
    background-color: #5770BE;
    color: white;
    border-radius: 5px;
    margin: 0px 10%;
    max-width: 350px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}


.box {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px 0 0 35px
}

.box ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    position: relative;
    transition: all 0.5s linear;
    top: 0
}


.box ul:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed #b1b1b1;
    position: absolute;
    top: 0;
    left: 30px
}

.box ul li {
    margin: 20px 60px 60px;
    position: relative;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    line-height: 20px;
    width: 60%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.box ul li>span {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px solid #b1b1b1;
    position: absolute;
    top: 0;
    left: -30px
}

.box ul li>span:before,
.box ul li>span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5770BE;
    border: 2px solid #5770BE;
    position: absolute;
    left: -7.5px
}

.box ul li>span:before {
    top: -10px
}

.box ul li>span:after {
    top: 95%
}

.box .title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

.box .info:first-letter {
    text-transform: capitalize;
    line-height: 1
}

.box .name {
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px
}

.box .logo img {
    position: absolute;
    top: 30%;
    right: -120px;
    opacity: 1;
}


.box .time span {
    position: absolute;
    left: -90px;
    color: #444444;
    font-size: 80%;
    font-weight: bold;
    text-align: right;
}

.box .time span:first-child {
    top: -12px
}

.box .time span:last-child {
    top: 94.5%
}

.recommend-div {
    background-color: #fff9f0;
    padding: 20px 15px;
    border-radius: 10px;
    margin: 50px 0px;
}